body{
    background-color:#B0E0E6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color:rgb(255, 255, 253);
}

.logo_menu{
    width: 10%;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.tituloPrincipal{
    text-align: center;
    background-color: azure;
}

.textoPrincipal{
    text-align: center;
}

.mapa_mental_mentalidade{
    margin: auto;
    display: block;
}

h3{
    text-align: center;
    background-color: azure; 
}

.topicosMentalidadeQa{
    text-align: justify;
}

.fluxo_exemplificado_mentalidade{
    margin: auto;
    display: block;
}
