body{
    background: #D8BFD8;
}

header {
	background: #1c4c74;
	padding: 20px 0;
}

.logo_menu{
    width: 10%;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #f0efef;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	background-color: aliceblue;
	color: black;
}

.tituloPrincipal{
    text-align: center;
    background-color: azure;
}

.textoPrincipal{
    text-align: center;
}

.mapa_mental_mentalidade{
    margin: auto;
    display: block;
}

h3{
    text-align: center;
    background-color: azure; 
}

.topicosMentalidadeQa{
    text-align: justify;
}

.fluxo_exemplificado_mentalidade{
    margin: auto;
    display: block;
}
