<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Minha primeira página em HTML</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <script type="text/javascript" src="../js/index.js"></script>
    </head>

    <body>
        <hgroup>
            <h1>Este cabeçalho faz parte de um grupo de cageçalhos. H1</h1>
            <h2>Este cabeçalho faz parte de um grupo de cageçalhos. H2</h2>
        </hgroup>

        <h1>Título 1</h1>
        <p id="paragrafo1">Texto do paragrafo 1</p>
        <h2>Título 2</h2>
        <p>Texto do paragrafo 2</p>


        <h1>Trabalhando com listas não ordenadas</h1>
        <ul>
            <li>Brasil</li>
            <li>Paraguai</li>
        </ul>

        <h1>Trabalhando com listas ordenadas</h1>
        <ol>
            <li>Brasil</li>
            <li>Paraguai</li>
        </ol>

        <h1>Trabalhando com imagens</h1>
        <img src="../images/mapa_mental_mentalidade.png"
    </body>
</html>