<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Minha primeira página em HTML</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <script type="text/javascript" src="../js/index.js"></script>
    </head>

    <body>
        <hgroup>
            <h1>Este cabeçalho faz parte de um grupo de cageçalhos. H1</h1>
            <h2>Este cabeçalho faz parte de um grupo de cageçalhos. H2</h2>
        </hgroup>
        <h1>Título 1</h1>
        <p id="paragrafo1">Texto do paragrafo 1</p>
        <h2>Título 2</h2>
        <p>Texto do paragrafo 2</p>
    </body>
</html>