<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/index.css">

    <title>Portfólio</title>
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="index.html">Home</a>
            <a class="cabecalho__menu__link" href="sobre.html">Sobre</a>
            <a class="cabecalho__menu__link" href="contato.html">Contato</a>
        </nav>
    </header>

    <main class="apresentacao">
        <section class="apresentacao__conteudo">
            <h1 class="apresentacao__conteudo__titulo">Eleve a qualidade do seu software a outro nível <strong
                    class="tituloPrincipal">com a utilização de boas
                    práticas de automação de
                    testes!</strong></h1>
            <p class="apresentacao__conteudo__texto">Olá! Sou Taynara Luana, analista de qualidade de Software. Ajudo
                QAs a testarem
                aplicações web utilizando de
                frameworks de automação de testes e também a colocarem em prática seus conhecimentos sobre testes de
                Software.</p>

            <div class="apresentacao__links">
                <a class="apresentacao__links_link"
                    href="https://www.linkedin.com/in/taynara-luana-884326172/" id="btnLinkedin">Linkedin</a>
                <a class="apresentacao__links_link" href="https://github.com/Taynara-Luana" id="btnGitHub">GitHub</a>
            </div>
        </section>

        <img src="../images/Taynara.png" alt="souTaynaraLuana">
    </main>

    <footer class="rodape">
        <p>Desenvolvido por Taynara Luana</p>
    </footer>
</body>

</html>