<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/sobre.css">
    <title>Sobre</title>
</head>

<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <a class="cabecalho__menu__link" href="index.html" id="menu_sobre">Home</a>
            <a class="cabecalho__menu__link" href="sobre.html">Sobre</a>
            <a class="cabecalho__menu__link" href="contato.html">Contato</a>
        </nav>

        <div class="elementos__cabecalho">
            <img src="../images/Taynara.png" alt="souTaynaraLuana" class="elementos__cabecalho__imagem__sobre__mim">
        </div>
    </header>

    <main class="sobre__mim">
        <section class="sobre__mim__conteudo">
            <h1 class="sobre__mim__titulo">Quem sou eu?</h1>
            <p class="sobre__mim__texto">Profissional da área de Tecnologia com conhecimento em ferramentas e técnicas
                de testes de Software.
                Sou formada em Análise e Desenvolvimento de Sistemas, pós graduada em Engenharia de Software,
                especialista em Docência no Ensino Superior e atualmente estou Cursando Mestrado em Inovações
                Tecnológicas. Atuo como QA desde 2014. Sou apaixonada pela área de automação de testes no qual é algo
                que venho me aperfeiçoando diariamente. Ampla experiência em testes automatizados utilizando Mocha,
                chai, NodeJs e JavaScript, experiência em testes com Selenium. Possuo experiência em testes em ambientes
                de várias camadas incluindo testes baseados em back-end.
                <br>
                Atualmente trabalho com a automação de API REST. Utilizando as tecnologias e frameworks:
                Mocha, Chai, nodeJs, javaScript e POSTMAN.
                Também sou aluna da turma 9 do PTQS - Programa de Testes e Qualidade de Software do Júlio de Lima.
            </p>

            <div class="sobre__mim__pontos__fortes">
                <h1 class="sobre__mim__conteudo__pontos__fortes__titulo">Dentre as atividades que executo, posso
                    testacar alguns pontos fortes:</p></h1>

                    <p class="sobre__mim__conteudo__texto">Capacidade de entrega incremental por meio de
                        Sprints.Entregas e execuções de estratégias de
                        testes do projeto elaborando planos de testes manuais
                        e automatizados para compor a qualidade do teste. Capacidade em definir e documentar as melhores
                        práticas de testes para serem executados em
                        determinados cenários. Experiência com Software de Controle de versão: GIT. Capacidade em
                        identificar e Analisar riscos da Qualidade do Software.Propor melhores práticas de automação de
                        testes para cenários específicos (relacionados a
                        teste de API). Facilidade em escrever scripts de testes automatizados utilizando as tecnologias
                        mencionadas. Conhecimento técnico básico sobre Selenium Web Driver, JUnit, Cucumber, e Docker.
                    </p>
            </div>
        </section>
    </main>

    <footer class="rodape">
        <p>Desenvolvido por Taynara Luana</p>
    </footer>

</body>

</html>