<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Meus Resumos</title>
    <link rel="stylesheet" href="../../css/apiRest/reset.css">
    <link rel="stylesheet" href="../../css/apiRest/index.css">
</head>

<body>
    <header>
        <div class="caixa">
            <h1><img src="../../images//logo_pagina_inicial.jpeg" class="logo_menu"></h1>
            

            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="o_que_estou_estudando.html">O que estou estudando?</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>