<!DOCTYPE html>
<html>

<head>
    <title>A mentalidade de quem testa API REST</title>
</head>

<body>
    <hgroup>
        <h1>A mentalidade de quem testa API REST</h1>
    </hgroup>

    <p>Quando vamos testar uma <b>API REST</b>, devemos ter em mente alguns pontos importantes sendo eles:</p>
    <ul>
        <li>Esqueça um pouco a tela que você precisa testar por exemplo, você precisa testar uma tela de cadastro de
            usuário, quando você olha para essa tela
            por trás dela existe uma API, o teste quando feito somente na tela, não garante que toda a regra de negócio
            contida na API esteja sendo devidamente
            mapeada. <b>FOQUE NA REGRA DE NEGÓCIO.</b></li>
        <li>O custo da inconsistencia tende a ser bem maior nas fases iniciais do que nas fases finais.</li>
        <li>É muito importante que eu como QA tenha em mente que <b>posso ir além de testes</b>, posso aprender a
            analisar códigos a nível técnico, e também a analisar logs para que este procedimento facilite os meus
            conhecimentos sobre o que está ocorrendo.</li>
        <li>Eu como <b>QA</b> também posso corrigir inconsistências quando sei o que está realmente acontecendo no
            ódigo.</li>
    </ul>

    <img src="../../images/mapa_mental_mentalidade.png"><br>
    <img src="../../images/fluxo_exemplificado_mentalidade.png">
</body>

</html>