<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>A mentalidade de quem testa API REST</title>
    
    <link rel="stylesheet" type="text/css" href="../../css/apiRest/mentalidade.css" media="screen" />
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <h1>
            <img src="../../images/o_que_estou_estudando.jpeg" class=logo_menu>
        </h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="mentalidade.html">O que estou estudando?</a> </li>
                <li>O que eu já estudei?</li>
                <li>Plano de estudos</li>
                <li>Contato</li>
            </ul>
        </nav>
        <h1 class="tituloPrincipal">A MENTALIDADE DE QUEM TESTA API REST</h1>
    </header>

    <p class="textoPrincipal">Quando vamos testar uma <b>API REST</b>, devemos ter em mente alguns pontos importantes
        sendo eles:</p>
    <img class="mapa_mental_mentalidade" src="../../images/mapa_mental_mentalidade.png"><br>

    <h3>Os pontos mencionados podem ser descritos como:</h3>
    <ul class="topicosMentalidadeQa">
        <li>Esqueça um pouco a tela que você precisa testar por exemplo, você precisa testar uma tela de cadastro de
            usuário, quando você olha para essa tela
            por trás dela existe uma API, o teste quando feito somente na tela, não garante que toda a regra de negócio
            contida na API esteja sendo devidamente
            mapeada. <b>FOQUE NA REGRA DE NEGÓCIO.</b></li>
        <li>O custo da inconsistencia tende a ser bem maior nas fases iniciais do que nas fases finais.</li>
        <li>É muito importante que eu como QA tenha em mente que <b>posso ir além de testes</b>, posso aprender a
            analisar códigos a nível técnico, e também a analisar logs para que este procedimento facilite os meus
            conhecimentos sobre o que está ocorrendo.</li>
        <li>Eu como <b>QA</b> também posso corrigir inconsistências quando sei o que está realmente acontecendo no
            ódigo.</li>
    </ul>

    <h3>Exemplificando o texto descrito acima, temos:</h3>
    <img class="fluxo_exemplificado_mentalidade" src="../../images/fluxo_exemplificado_mentalidade.png">

</body>

</html>