<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>O que o_que_estou_estudando</title>
    <link rel="stylesheet" href="../../css/apiRest/reset.css">
    <link rel="stylesheet" href="../../css/apiRest/o_que_estou_estudando.css">
</head>

<body>
    <header>
        <div class="caixa">
            <h1><img src="../../images//logo_pagina_inicial.jpeg" class="logo_menu"></h1>

            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="o_que_estou_estudando.html">O que estou estudando?</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <ul class="estudos">
            <li></a>
                <h2>BACK</h2>
                <a href="mentalidade.html"><img src="../../images/api_rest.jpeg" class="imagem_menu_estudos"></a>
                <p>Roteiro completo de estudos em testes de API</p>
            </li>

            <li>
                <h2>FRONT</h2>
                <a href="#"><img src="../../images/automacao.svg" class="imagem_menu_estudos"></a>
                <p>Roteiro completo de estudos em automação com Cypress</p>
            </li>

            <li>
                <h2>DOCKER</h2>
                <a href="#"><img src="../../images/docker.png" class="imagem_menu_estudos"></a>
                <p>Roteiro de estudos completo em docker</p>
            </li>
        </ul>
    </main>

    <footer>
        <img src="../../images/footer.png">
        <p class="Copyright">&copy; Copyright Meus estudos - 2023</p>
    </footer>
</body>

</html>